*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    position: absolute;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    height: 300px;
    width: 230px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: silver;
    overflow: hidden;
}


#card1{
    z-index: 4;
    background-color: blue;

}

#card2{
    z-index: 3;
    rotate:-7deg;
    background-color:rgb(244, 187, 114);
}

#card2:hover{
z-index: 10;
}

#card3{
    z-index: 2;
     rotate:-14deg;
    background-color: rgb(89, 174, 174);
}

#card3:hover{
z-index: 10;
}
#card4{
    z-index: 1;
    rotate:-24deg;
    background-color:yellow;

}
#card4:hover{
    z-index: 10;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}